<div class="report_entry">
    <h3>{{ report.date|localizeddate('long', 'none')  }}<span class="report"> / {{ 'Report'|trans }}</span></h3>
    <div class="statement">
        <span class="statement">{{ '%user% has filled a %report_label% report'|trans(
           { 
             '%user%' : user, 
             '%report_label%': report.CFGroup.name|localize_translatable_string, 
             '%date%' : report.date|localizeddate('long', 'none') }
        ) }}</span>
    </div>
    {% if custom_fields_in_summary|length > 0 %}
        <div class="summary">
            <dl class="chill_report_view_data timeline">
            {% for field in custom_fields_in_summary %}
                {% if field.type == 'title' %}
                {{ chill_custom_field_widget(report.cFData, field) }}
            {% else %}
                <dt>{{ chill_custom_field_label(field) }}</dt>
                <dd>{{ chill_custom_field_widget(report.cFData, field) }}</dd>
            {% endif %}
            {% endfor %}
            </dl>
        </div>
     {% endif %}
     
     <ul class="record_actions">
        <li>
            <a href="{{ path('report_view', { 'person_id': person.id, 'report_id': report.id} ) }}" class="sc-button bt-view">
                {{ 'View the report'|trans }}
            </a>
        </li>
        {% if is_granted('CHILL_REPORT_UPDATE', report) %}
        <li>
            <a href="{{ path('report_edit', { 'person_id': person.id, 'report_id': report.id} ) }}" class="sc-button bt-edit">
                {{ 'Update the report'|trans }}
            </a>
        </li>
        {% endif %}
    </ul>
</div>
